PACERequest/Workflows/AutoAssignPPULicense-97FADC2E-70F4-EB11-94EF-000D3A09C1A8.json
{"properties":{"connectionReferences":{"shared_office365groups_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedoffice365groups_5e8cf"},"api":{"name":"shared_office365groups"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"si_sharedcommondataserviceforapps_9977a"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"apt_request","subscriptionRequest/scope":4,"subscriptionRequest/filterexpression":"(_apt_requesttype_value eq 251b1990-be55-eb11-a812-000d3af39ed7)"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"UPNs","type":"array","value":"@split(triggerOutputs()?['body/apt_licensee'], ';')"}]}},"Apply_to_each":{"foreach":"@variables('UPNs')","actions":{"Add_member_to_group":{"runAfter":{"Remove_member_from_group":["Succeeded","Failed"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365groups_1","operationId":"AddMemberToGroup","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365groups"},"parameters":{"groupId":"ab0f071d-310f-4ea4-9451-86bcc4a88ea1","userUpn":"@trim(items('Apply_to_each'))"},"authentication":"@parameters('$authentication')"}},"Remove_member_from_group":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365groups_1","operationId":"RemoveMemberFromGroup","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365groups"},"parameters":{"groupId":"ab0f071d-310f-4ea4-9451-86bcc4a88ea1","userUpn":"@trim(items('Apply_to_each'))"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}