PACERequest/Solution/Workflows/NEWPACEFormtoApp-Createarecord-568A5EA2-9B77-EB11-A812-000D3AF3D106.json
{
  "properties": {
    "connectionReferences": {
      "shared_microsoftforms": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "asp_sharedmicrosoftforms_f0899"
        },
        "api": {
          "name": "shared_microsoftforms"
        }
      },
      "shared_office365users": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "apt_sharedoffice365users_6d5cb"
        },
        "api": {
          "name": "shared_office365users"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "asp_sharedcommondataserviceforapps_ed1d8"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_teams": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "apt_sharedteams_52d8e"
        },
        "api": {
          "name": "shared_teams"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_new_response_is_submitted": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_microsoftforms",
              "operationId": "CreateFormWebhook",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms"
            },
            "parameters": {
              "form_id": "qf8IILLJl02a2UrOJThr56bkD2ECyRNOpBeYynQgVHJUNUw2TFpNNkVSMVJDMjhOWkYzNlRNSElTWSQlQCN0PWcu"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_response_details": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_microsoftforms",
              "operationId": "GetFormResponseById",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms"
            },
            "parameters": {
              "form_id": "qf8IILLJl02a2UrOJThr56bkD2ECyRNOpBeYynQgVHJUNUw2TFpNNkVSMVJDMjhOWkYzNlRNSElTWSQlQCN0PWcu",
              "response_id": "@triggerOutputs()?['body/resourceData/responseId']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_user_profile_(V2)": {
          "runAfter": {
            "Get_response_details": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365users",
              "operationId": "UserProfile_V2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
            },
            "parameters": {
              "id": "@outputs('Get_response_details')?['body/responder']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Find_Request_Type": {
          "runAfter": {
            "Post_a_message_as_the_Flow_bot_to_a_user": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "apt_requesttypes",
              "$filter": "apt_name eq '@{outputs('Get_response_details')?['body/r247475ef7db24e3ea098ec4d41727aec']}'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Find_Requestor_Program": {
          "runAfter": {
            "Find_Request_Type": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "apt_requestorprograms",
              "$filter": "apt_name eq '@{outputs('Get_response_details')?['body/r558020ab1ad44be0a5de531ad9a5a847']}'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Find_License_Type": {
          "runAfter": {
            "Find_Requestor_Program": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "apt_licensetypes",
              "$filter": "apt_name eq '@{outputs('Get_response_details')?['body/r8221969a18bb477fb2bcfdcfa603da95']}'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Find_Request_Type')?['body/value']",
          "actions": {
            "Condition": {
              "actions": {
                "Add_a_new_row": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "apt_requests",
                      "item/apt_name": "@outputs('Get_user_profile_(V2)')?['body/displayName']",
                      "item/apt_RequestType@odata.bind": "/apt_requesttypes(@{first(body('Find_Request_Type')?['Value'])?['apt_requesttypeid']})",
                      "item/apt_RequestorProgram@odata.bind": "/apt_requestorprograms(@{first(body('Find_Requestor_Program')?['Value'])?['apt_requestorprogramid']})",
                      "item/apt_statusofrequest": 921210000,
                      "item/apt_environmentname": "@outputs('Get_response_details')?['body/rfe77dc225da84df4a6cdc5664d3e2e1f']",
                      "item/apt_environments": "@outputs('Get_response_details')?['body/r1258502969d14df09f28d1b5492d84be']",
                      "item/apt_justifications": "@if(equals(length(body('Join')), 0), null, body('Join'))",
                      "item/apt_licensepurchasing": "@outputs('Get_response_details')?['body/r0d336c0503e44f07aaa154a261bf235a']",
                      "item/apt_Licenserequesttype@odata.bind": "/apt_licensetypes(@{first(body('Find_License_Type')?['Value'])?['apt_licensetypeid']})",
                      "item/apt_nameofassignee": "@outputs('Get_response_details')?['body/r895360eb4f964f69867aef649311a33a']",
                      "item/apt_nameofdeletedlicenseuser": "@outputs('Get_response_details')?['body/r613306201d084a949e14fbbaabeef154']",
                      "item/apt_numberoflicensesrequired": "@outputs('Get_response_details')?['body/rffd3a50da2b54710b76d3e24f00003fb']",
                      "item/apt_otherprograms": "@outputs('Get_response_details')?['body/r721333428e1b4c2c86703cc0df0a6aeb']",
                      "item/apt_projectinquiry": "@outputs('Get_response_details')?['body/r4a365427d3ff4c1e89cce18d379399ab']",
                      "item/overriddencreatedon": "@outputs('Get_response_details')?['body/submitDate']",
                      "item/apt_traininginformation": "@outputs('Get_response_details')?['body/rd4df581eb957476d8fc7d3541f6cdaa9']",
                      "item/apt_typeofrequest": "@outputs('Get_response_details')?['body/r247475ef7db24e3ea098ec4d41727aec']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Add_a_new_row_2": {
                    "runAfter": {},
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "apt_requests",
                        "item/apt_name": "@outputs('Get_user_profile_(V2)')?['body/displayName']",
                        "item/apt_RequestType@odata.bind": "/apt_requesttypes(@{first(body('Find_Request_Type')?['Value'])?['apt_requesttypeid']})",
                        "item/apt_RequestorProgram@odata.bind": "/apt_requestorprograms(@{first(body('Find_Requestor_Program')?['Value'])?['apt_requestorprogramid']})",
                        "item/apt_statusofrequest": 921210000,
                        "item/apt_environmentname": "@outputs('Get_response_details')?['body/rfe77dc225da84df4a6cdc5664d3e2e1f']",
                        "item/apt_environments": "@outputs('Get_response_details')?['body/r1258502969d14df09f28d1b5492d84be']",
                        "item/apt_justifications": "@if(equals(length(body('Join')), 0), null, body('Join'))",
                        "item/apt_licensepurchasing": "@outputs('Get_response_details')?['body/r0d336c0503e44f07aaa154a261bf235a']",
                        "item/apt_Licenserequesttype@odata.bind": "@null",
                        "item/apt_nameofassignee": "@outputs('Get_response_details')?['body/r895360eb4f964f69867aef649311a33a']",
                        "item/apt_nameofdeletedlicenseuser": "@outputs('Get_response_details')?['body/r613306201d084a949e14fbbaabeef154']",
                        "item/apt_numberoflicensesrequired": "@outputs('Get_response_details')?['body/rffd3a50da2b54710b76d3e24f00003fb']",
                        "item/apt_otherprograms": "@outputs('Get_response_details')?['body/r721333428e1b4c2c86703cc0df0a6aeb']",
                        "item/apt_projectinquiry": "@outputs('Get_response_details')?['body/r4a365427d3ff4c1e89cce18d379399ab']",
                        "item/overriddencreatedon": "@outputs('Get_response_details')?['body/submitDate']",
                        "item/apt_traininginformation": "@outputs('Get_response_details')?['body/rd4df581eb957476d8fc7d3541f6cdaa9']",
                        "item/apt_typeofrequest": "@outputs('Get_response_details')?['body/r247475ef7db24e3ea098ec4d41727aec']"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@items('Apply_to_each')?['apt_requesttypeid']",
                  "251b1990-be55-eb11-a812-000d3af39ed7"
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Join": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "strChoices": {
          "runAfter": {
            "Find_License_Type": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strChoices",
                "type": "string",
                "value": "@outputs('Get_response_details')?['body/r47791def1def417cb2cd6dd41f81755e']"
              }
            ]
          }
        },
        "arrayChoices": {
          "runAfter": {
            "strChoices": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "arrayChoices",
                "type": "array"
              }
            ]
          }
        },
        "strNewChoices": {
          "runAfter": {
            "arrayChoices": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strNewChoices",
                "type": "string"
              }
            ]
          }
        },
        "Compose": {
          "runAfter": {
            "Compose_2": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@split(outputs('Compose_2'), ',')"
        },
        "Compose_2": {
          "runAfter": {
            "strNewChoices": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@replace(replace(variables('strChoices'), '[', ''), ']', '')"
        },
        "Apply_to_each_2": {
          "foreach": "@outputs('Compose')",
          "actions": {
            "Compose_3": {
              "runAfter": {},
              "type": "Compose",
              "inputs": "@items('Apply_to_each_2')"
            },
            "Condition_2": {
              "actions": {
                "Append_to_array_variable": {
                  "runAfter": {},
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "arrayChoices",
                    "value": 921210000
                  }
                }
              },
              "runAfter": {
                "Compose_3": [
                  "Succeeded"
                ]
              },
              "expression": {
                "contains": [
                  "@outputs('Compose_3')",
                  "Developer level activities"
                ]
              },
              "type": "If"
            },
            "Condition_3": {
              "actions": {
                "Append_to_array_variable_2": {
                  "runAfter": {},
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "arrayChoices",
                    "value": 921210001
                  }
                }
              },
              "runAfter": {
                "Condition_2": [
                  "Succeeded"
                ]
              },
              "expression": {
                "contains": [
                  "@outputs('Compose_3')",
                  "Project Service Automation"
                ]
              },
              "type": "If"
            },
            "Condition_4": {
              "actions": {
                "Append_to_array_variable_3": {
                  "runAfter": {},
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "arrayChoices",
                    "value": 921210002
                  }
                }
              },
              "runAfter": {
                "Condition_3": [
                  "Succeeded"
                ]
              },
              "expression": {
                "contains": [
                  "@outputs('Compose_3')",
                  "Field Service"
                ]
              },
              "type": "If"
            },
            "Condition_5": {
              "actions": {
                "Append_to_array_variable_4": {
                  "runAfter": {},
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "arrayChoices",
                    "value": 921210003
                  }
                }
              },
              "runAfter": {
                "Condition_4": [
                  "Succeeded"
                ]
              },
              "expression": {
                "contains": [
                  "@outputs('Compose_3')",
                  "Customer Service Enterprise"
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Compose_4": {
          "runAfter": {
            "Apply_to_each_2": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@variables('arrayChoices')"
        },
        "Join": {
          "runAfter": {
            "Compose_4": [
              "Succeeded"
            ]
          },
          "type": "Join",
          "inputs": {
            "from": "@variables('arrayChoices')",
            "joinWith": ","
          }
        },
        "Post_a_message_as_the_Flow_bot_to_a_user": {
          "runAfter": {
            "Get_user_profile_(V2)": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_teams",
              "operationId": "PostUserNotification",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
            },
            "parameters": {
              "PostNotificationRequest/recipient/to": "@{outputs('Get_response_details')?['body/responder']};",
              "PostNotificationRequest/messageBody": "(La version française suit)\n\nThank you for your request through the Power Apps Centre of Excellence Request Form. It is now being actioned and you will be contacted when the request has been completed.\n\n*************\n\nNous vous remercions de votre demande par le biais du formulaire de demande du Power Apps Centre d'Excellence. Votre demande est en cours de traitement et vous serez contacté lorsque la demande sera complète."
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}